<div class="card">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><p>Home</p></li>
        <li class="breadcrumb-item"><span class="label label-rounded label-primary">About</span></li>
    </ul>
    <div class="card-image">
        <img src="img/osx-el-capitan.jpg" class="img-responsive">
    </div>
    <div class="card-header">
        <div class="card-title h5">...</div>
        <div class="card-subtitle text-gray">...</div>
    </div>
    <div class="card-body">
        ...
    </div>
    <div class="card-footer">
        <button class="btn btn-primary">...</button>
    </div>
</div>