<ul>
    <a href="/new/post">New Post</a>
    <a href="/">Home</a>
    <a href="/logout">Logout</a>
    <a href="/contact-requests">Contact requests</a>
    <a href="/edit/about">Edit about page</a>
    <a href="/edit/portfolio">Edit portfolio page</a>
</ul>


{{#if user}} 
<p>{{user.uid}}</p>
<p>{{user.username}}</p>
<p>{{user.created_date}}</p>
{{/if}}