{{#if error}}
    <p>{{ error }}</p>    
{{/if}}
<div class="form-group">
    <form method="POST" action="/login">
        <label class="form-label" for="input-username">Username</label>
        <input class="form-input" type="text" id="input-username" placeholder="Username" name="username" required>
        <label class="form-label" for="input-password">Password</label>
        <input class="form-input" type="password" id="input-password" placeholder="Password" name="password" required>
        <input class="form-submit" type="submit" placeholder="login">
    </form>
</div>