<!--

{{#if error}}
    <p>{{ error }}</p>    
{{/if}}
<div class="form-group">
    <form method="POST" action="/login">
        <label class="form-label" for="input-slug">Post - slug</label>
        <input class="form-input" type="text" id="input-slug" placeholder="Text" name="slug" maxlength="40" required>

        <label class="form-label" for="input-username">Post - content</label>
        <input class="form-input" type="text" id="input-username" placeholder="Text" name="content" required>

        <label class="form-label" for="input-password">Post - category</label>
        <input class="form-input" type="password" id="input-password" placeholder="Category" name="category" required>

        <input class="form-submit" type="submit" placeholder="Post">
    </form>
</div>

-->

{{#if validationErrors.length}}

<ul>
    {{#each validationErrors}}
    <li>{{this}}</li>
    {{/each}}
</ul>

<form action="/new/post" method="POST">
  <fieldset>
    <div class="form-group">
      <label class="form-label" for="input-example-19">Slug</label>
      <input class="form-input is-error" type="text" id="input-example-19" placeholder="url name" name="slug" value="">
    </div>
    <div class="form-group">
        <label class="form-label" for="category-select">Category</label>
        <select class="form-select is-error" id="category-select" name="category" value="">
            <option>Choose an category</option>
            <option>All</option>
            <option>Tech</option>
            <option>Random</option>
        </select>
    </div>
    <div class="form-group">
      <label class="form-label" for="input-example-20">Message</label>
      <textarea class="form-input is-error" id="input-example-20" placeholder="Textarea" rows="10" name="content" value=""></textarea>
    </div>
  </fieldset>
  <div class="form-group">
        <input class="form-submit" type="submit" placeholder="Login">
    </div>
</form>

{{else}}

<form action="/new/post" method="POST">
  <fieldset>
    <div class="form-group">
      <label class="form-label" for="input-example-19">Slug</label>
      <input class="form-input" type="text" id="input-example-19" placeholder="url name" name="slug">
    </div>
    <div class="form-group">
        <label class="form-label" for="category-select">Category</label>
        <select class="form-select" id="category-select" name="category">
            <option>All</option>
            <option>Tech</option>
            <option>Random</option>
        </select>
    </div>
    <div class="form-group">
      <label class="form-label" for="input-example-20">Message</label>
      <textarea class="form-input" id="input-example-20" placeholder="Textarea" rows="10" name="content"></textarea>
    </div>
  </fieldset>
  <div class="form-group">
        <input class="form-submit" type="submit" placeholder="Login">
    </div>
</form>

{{/if}}