{{#if Post}}
    <div class="column">
        <div class="column col-11" id="blog-content">
            <div class="card">
                <div class="card-header">
                    <div class="card-title h5">{{Post.post_slug}}</div>
                    <div class="card-subtitle text-gray">{{Post.post_category}}</div>
                </div>
                <div class="card-body" id="card-content">
                    <p id="text">{{Post.post_content}}</p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary">Comment</button>
                </div>
            </div>
        </div>
    </div>
{{else}}
    <h1>No blog posts yet</h1>
{{/if}}