<div class="column">
  <div class="column col-11">
    {{#if errorMessage}}
    <h3>{{errorMessage}}</h3>
    {{/if}}
    <p>You can search on category, title, content or a year and get all post made in that year</p>
  </div>
</div>